DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
REDIS_HOST=redis-master
REDIS_PORT=6379
REDIS_PASSWORD=
APP_PORT=9999

YACI_STORE_DB_HOST=
YACI_STORE_DB_PORT=5432
YACI_STORE_DB_USERNAME=
YACI_STORE_DB_PASSWORD=
YACI_STORE_DB_NAME=yaci_store
