DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_PASSWORD=
REDIS_HOST=1694-redis
REDIS_PORT=6379
PORT=9999
DATABASE_HOST_DBSYNC=
DATABASE_PORT_DBSYNC=
DATABASE_USERNAME_DBSYNC=
DATABASE_PASSWORD_DBSYNC=
DATABASE_NAME_DBSYNC=