@import 'tailwindcss';

@theme {
  --breakpoint-3xl: 1840px;
  --breakpoint-4xl: 2160px;

  --spacing-1\/2: 50%;
  --spacing-1\/3: 33.333333%;
  --spacing-1\/4: 25%;
  --spacing-2\/3: 66.666667%;
  --spacing-3\/4: 75%;

  --font-primary: var(--font-poppins);

  --color-primary-100: #d6e2ff;
  --color-primary-200: #809cde;
  --color-primary-300: #0033ad;
  --color-primary-400: #001f68;
  --color-primary-500: #001445;

  --color-secondary-100: #ffefe6;
  --color-secondary-200: #ffc19d;
  --color-secondary-300: #ff640a;
  --color-secondary-400: #993c06;
  --color-secondary-500: #4c1e03;

  --color-destructive-100: #f1f2f3;
  --color-destructive-200: #c7cdd1;
  --color-destructive-300: #73828c;
  --color-destructive-400: #2e3438;
  --color-destructive-500: #0b0d0e;

  --color-complementary-100: #e2f2f6;
  --color-complementary-200: #a0d3e0;
  --color-complementary-300: #1c94b2;
  --color-complementary-400: #082c35;
  --color-complementary-500: #030f12;

  --color-general-100: #ffefe6;
  --color-general-200: #ffc19d;
  --color-general-300: #ff640a;
  --color-general-400: #993c06;
  --color-general-500: #4c1e03;

  --color-extra-200: #ffc19d;
  --color-extra-300: #ff640a;
  --color-extra-400: #993c06;
  --color-extra-500: #4c1e03;

  --color-bar: #6685ce;
  --color-bar_back: #f7f9ff;
  --color-shadow_1: #2f62dc;
  --color-shadow_2: #00123d;
  --color-stroke: #265573;
  --color-menu_select: #c2eff2;
  --color-active: #002379;
  --color-titles: #242232;
  --color-extra_red: #ff4d4d;
  --color-extra_yellow: #ffc14c;
  --color-extra_gray: #f3f5ff;
  --color-success: #6fdf8e;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html {
  @apply font-primary;
}

body {
  @apply relative bg-linear-to-b from-[#E9EFFF] to-[#FFFFFF];
}

.base_container {
  @apply mx-auto max-w-sm sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl;
}

.form_container {
  @apply mx-auto w-full sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl;
}

.inner_container {
  @apply w-full text-sm;
}

.inner_container table {
  @apply w-full table-fixed;
}

.inner_container table tr {
  height: 1em;
}

.inner_container table td {
  overflow: hidden;
}

.img_container {
  #main {
    @apply max-h-[450px] max-w-[450px];
  }

  #inverse {
    @apply max-h-[150px] max-w-[150px];
  }

  #dull {
    @apply max-h-[200px] max-w-[200px];
  }

  #rainbow {
    @apply max-h-[300px] max-w-[300px];
  }
}

.table_container tbody tr {
  @apply border-b-2 border-b-gray-300/40;
}

.table_container tbody td,
.table_container tbody td th {
  @apply pr-4;
}

/* Hover effect for the role part */
.table_container tbody tr > td:first-child {
  @apply hover:text-[#5f5e5e];
}

.table_container tbody td {
  @apply pb-5;
}

.drep_white_gradient {
  @apply bg-linear-to-b from-[#E9EFFF] to-[#FFFFFF];
}

.drep_radial_bg {
  background: radial-gradient(
    circle closest-side,
    #f10b314d 0%,
    #ffffff00 100%
  );
}

.drep_bg {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 51, 173, 0.97),
    rgba(0, 41, 138, 0.97)
  );
}

.note-modal-width {
  @apply w-[1200px];
}

.toggle-tab {
  @apply relative;
}

.toggle-tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.toggle-tab.active::after {
  background-color: #007bff;
}

.toggle-tab.active {
  background-color: #ffffff;
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.blur-container {
  backdrop-filter: blur(2px);
}

.mdxeditor {
  @apply min-h-40 w-full rounded-xl bg-white;
}

.mdxeditor-toolbar {
  @apply bg-black;
}

.mdxeditor-diff-source-wrapper {
  @apply bg-white;
}

.dual-bg {
  background-image: url('/img/doublecoin-top.png'),
    url('/img/doublecoin-bottom.png');
  background-position:
    top right,
    bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}

table.dreps-table .drep_always_abstain,
table.dreps-table .drep_always_no_confidence {
  @apply my-1 border px-4;
}

table.dreps-table .drep_always_abstain > td,
table.dreps-table .drep_always_no_confidence > td {
  @apply px-4 py-2;
}

#acknowledgements details {
  @apply border-b-2 border-b-gray-300/40 bg-white/95 p-5 lg:opacity-100;
}

#acknowledgements details summary {
  @apply flex cursor-pointer list-none items-center justify-between font-medium;
}

#acknowledgements details ul {
  @apply ml-5 flex list-disc flex-col gap-1;
}

#acknowledgements details span {
  @apply shrink-0;
}

#epoch-card {
  text-align: left !important;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

.loader {
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% {
    box-shadow:
      60px 0 #0033ad,
      -60px 0 #4340ff;
    background: #0033ad;
  }

  33% {
    box-shadow:
      60px 0 #0033ad,
      -60px 0 #4340ff;
    background: #4340ff;
  }

  66% {
    box-shadow:
      60px 0 #4340ff,
      -60px 0 #0033ad;
    background: #4340ff;
  }

  100% {
    box-shadow:
      60px 0 #4340ff,
      -60px 0 #0033ad;
    background: #0033ad;
  }
}

.parsed-content a {
  @apply text-primary-300;
  text-decoration: none;
}

.parsed-content a:hover {
  @apply text-primary-400;
}

.drep_metrics {
  table {
    border-collapse: collapse;
  }

  table tr:first-child,
  table tr:not(:last-child) {
    border-top: 0;
    border-bottom: 1px solid #e0e0e0;
  }

  table tr:last-child {
    border-bottom: 0;
  }

  table tr td:first-child,
  table tr td:not(:last-child) {
    border-right: 1px solid #e0e0e0;
  }

  table tr td:last-child {
    border-right: 0;
  }
}
