@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-poppins;
}

body {
    @apply bg-gradient-to-b from-[#E9EFFF] to-[#FFFFFF];
}

.containerSpacing {
    @apply px-5 mx-auto 2xl:px-10 3xl:max-w-screen-3xl;

}

.table_container tbody tr {
    @apply border-b-2 border-b-wall-info-txt-color border-opacity-40;
}

.table_container tbody td,
.table_container tbody td th {
    @apply pr-4;
}

/* Hover effect for the role part */
.table_container tbody tr>td:first-child {
    @apply hover:text-[#5f5e5e];
}

.table_container tbody td {
    @apply pb-5;
}

.drep_white_gradient {
    @apply bg-gradient-to-b from-[#E9EFFF] to-[#FFFFFF];
}

.drep_radial_bg {
    background: radial-gradient(circle closest-side, #f10b314d 0%, #ffffff00 100%)
}

.drep_bg {
    background-image: linear-gradient(to bottom, rgba(0, 51, 173, 0.97), rgba(0, 41, 138, 0.97))
}
.toggle-tab {
    position: relative;
  }
  
  .toggle-tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toggle-tab.active::after {
    background-color: #007bff; 
  }
  
  .toggle-tab.active {
    background-color: #ffffff; 
  }
  
  